<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Jasmine suite</title>
  <link rel="shortcut icon" type="image/png" href="/__images__/jasmine_favicon.png">

  <%= stylesheet_pack_tag 'jasmine' %>
</head>

<!-- TODO: turbolinks breaks spec filter links -->
<body data-no-turbolink data-turbolinks="false">
  <div id="jasmine_content"></div>
  <%= javascript_pack_tag 'jasmine' %>
  <%= javascript_tag(extra_js) if extra_js %>
  <%= javascript_pack_tag 'specs' %>
</body>
</html>

